source https://www.nuget.org/api/v2
framework: net461

nuget argu
nuget Fake.Tools.Git
nuget FsEye
nuget FSharp.Core
nuget OpenMcdf
nuget LiteDB
nuget LiteDB.FSharp
nuget System.Collections.Immutable
